h1{
	color:rgba(39, 0, 255, 1);
	background-image: url("http://www.sbs.com.au/comedy/sites/sbs.com.au.comedy/files/super-computer-nerd-580x3481-e1379439793236.jpeg");
}

p{
	color:red;
	background-color: #f0f0f0;
}

h2{
	color:rgba(39, 0, 255, 1)
	background-color: #0f0f0f;
}


